.racer_table td {
  background-color: gray;
  height: 40px;
  width: 40px;
}

.racer_table td.active {
background-color: transparent;
background-image: url("http://vignette4.wikia.nocookie.net/mario/images/f/f0/Luigi_Moto.png/revision/latest?cb=20111122164047&path-prefix=es");
background-size: cover;
background-repeat: no-repeat;
}

.counter {

}